//$color-header--light:rgba(89, 90, 85, 0.5);
$color-header--light:rgba(231, 235, 217, 0);
//$color-header--dark:rgba(15, 16, 20, 0.5);
$color-header--dark:rgba(215, 219, 243, 0);
$color-header-primary--text:rgb(0, 0, 0);//black
$color-btn--while--text:white;
$color-btn--while: black;
$color-btn--while--hover-box-shadow:rgba(0, 0, 0, 1);
$color-btn--while--active-box-shadow:rgba(0, 0, 0, 1);
$color-btn--while---background:black;
$color-section--book--boxshadow: rgba(0, 0, 0, 0.2);
$color-section--book-hover--boxshadow:rgba(0, 0, 0, 0.2);
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-horizontal:6rem;